
.cale{
    background-color: whitesmoke;
}

.abs{ 
    transition: filter 0.3s ease;
}
.pop{
    background-color: white;
}


.abs:hover {
    filter: drop-shadow(10px 10px 20px rgba(36, 36, 36, 0.5));

}